<h1>Home#index</h1>
<div class="container">
  <table class="table table-bordered" id="users-datatable" data-source="<%= home_records_path(format: :json) %>">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#users-datatable').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": $('#users-datatable').data('source')
      },
      "pagingType": "full_numbers",
      "columns": [
        {"data": "id"},
        {"data": "first_name"},
        {"data": "last_name"},
        {"data": "email"},
      ]
      // pagingType is optional, if you want full pagination controls.
      // Check dataTables documentation to learn more about
      // available options.
    });
  });
</script>
